$background: #ffffff;
$primaryColor: #336695;

$background-dark: #161616;
$primaryColor-dark: #2a4d6d;

.button {
  height: 50px;
  border-radius: 8px;
  font-weight: 500;
  background: $primaryColor;
  color: #fff;
  padding: 0 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;

  img {
    margin-right: 8px;
  }

  &.outlined {
    background: $background;
    border: 1px solid $primaryColor;
    color: $primaryColor;
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &.dark {
    background: $primaryColor-dark;

    &.outlined  {
      background: $background-dark;
      border: 1px solid $primaryColor-dark;
      color: $primaryColor-dark;
    }
  }
}