$background: #f8f8f8;
$primaryColor: #336695;

$background-dark: #161616;
$primaryColor-dark: #2a4d6d;

.room-code {

  &.dark {
    background: $background-dark;
    border: 1px solid $primaryColor-dark;

    div {
      background: $primaryColor-dark;
    }
    span {
      color: #FFFFFF;
    }
  }

  height: 40px;
  border-radius: 8px;
  overflow: hidden;

  background: $background;
  border: 1px solid $primaryColor;
  cursor: pointer;

  display: flex;

  div {
    background: $primaryColor;
    height: 100%;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 16px 0 12px;
    min-width: 250px;
    max-width: 320px;
    font-size: 14px;
    font-weight: 500;
  }
}
