$background: #ffffff;
$primaryColor: #336695;
$secondColor: #ffeb38;

$background-dark: #161616;
$primaryColor-dark: #2a4d6d;
$white: #F8F8F8;

.question {
  &.dark {
    background: #101010;
    box-shadow: 0 2px 12px rgba(255, 255, 255, 0.05);

    p {
      color: $white;
    }

    &.highlighted {
      background: #a0aebb;
      border: 1px solid $primaryColor-dark;
      footer .user-info span {
        color: #e5e5e5;
      }
    }

    &.answered {
      background: #828282;
      footer .user-info span {
        color: #616161;
      }
    }
  }


  background: $white;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;

  & + .question { //? & para se referir ao objeto Pai -> toda Q antecedida por Q vai ter margintop
    margin-top: 8px;
  }
  
  &.highlighted {
    background: rgba($primaryColor, 0.15);
    border: 1px solid $primaryColor;

    
    footer .user-info span {
      color: #29292e;
    }
  }
  
  &.answered {
    background: #c5c5c5;
  }
  
  p {
    color: #29292e;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        margin-left: 8px;
        color: #737380;
        font-size: 14px;
      }
    }

    > div {
      display: flex;
      gap: 16px;
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: filter 0.1s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: #737380;
        gap: 8px;

        &.liked {
          color: $primaryColor;

          svg path {
            stroke: $primaryColor;
          }
        }
      }

      &:hover {
        filter: brightness(0.7);
      }
    }

  }
}